@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 62.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  background-color: #2C343D;
}

.footer span {
  font-weight: 500;
  color: bisque;
}

.no-webp .page{
  background-image: url("./../img/bg-main.jpg"); }

.page {
  background-size: cover;
  padding-top: calc(30px + 40 * (100vw - 320px) / 740);
}

.page__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 140%;
  color: #045FCE;
}

.page__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

.page__card {
  background-color: #FFFFFF;
  border-radius: 4px;
}

.page__card--top {
  margin-bottom: 20px;
}

.none {
  display: none !important;
}

.list__empty-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: calc(10px + 10 * (100vw - 320px) / 740);
  padding-bottom: calc(10px + 10 * (100vw - 320px) / 740);
}

.list__empty-title {
  font-size: 28px;
  font-weight: 300;
  line-height: 120%;
  font-size: calc(22px + 6 * (100vw - 320px) / 740);
}

.list__group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  padding-left: calc(10px + 10 * (100vw - 320px) / 740);
  padding-right: calc(10px + 10 * (100vw - 320px) / 740);
  border-top: 2px solid #E5E5E8;
  border-radius: 4px 4px 0 0;
}

.list__task-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.list__task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}

.list__block-btn-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.list__btn-action {
  background-color: #e0e5ea;
  padding: 8px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__btn-action:hover {
  opacity: 1;
}

.list__btn-action:active {
  -webkit-transform: translate(1px, 2px);
      -ms-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}

.list__btn-action img {
  pointer-events: none;
}

.page__card-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  font-size: calc(16px + 4 * (100vw - 320px) / 740);
  padding: 10px 20px;
  background-color: #F0F1F2;
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid #E5E5E8;
}

.page__form {
  background-color: #F8F9FA;
  padding: calc(10px + 10 * (100vw - 320px) / 740);
  border-radius: 0 0 4px 4px;
}

.form__input {
  width: 100%;
  padding: 8px 15px;
  margin-bottom: 5px;
}

.form__group {
  margin-bottom: calc(10px + 5 * (100vw - 320px) / 740);
}

input {
  outline: none;
  border: 2px solid #E5E5E8;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

input::-webkit-input-placeholder {
  color: #A6A7A8;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

input::-moz-placeholder {
  color: #A6A7A8;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

input:-ms-input-placeholder {
  color: #A6A7A8;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

input::-ms-input-placeholder {
  color: #A6A7A8;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

input::placeholder {
  color: #A6A7A8;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

input:focus {
  -webkit-box-shadow: 0 0 5px 0 #A6A7A8;
          box-shadow: 0 0 5px 0 #A6A7A8;
}

input:hover {
  border-color: #B4D5EC;
}

.form__text {
  color: #A6A7A8;
}

.form__btn {
  display: inline-block;
  padding: 10px 24px 7px;
  border-radius: 4px;
  background-color: #045FCE;
  color: #B4D5EC;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.form__btn:hover {
  opacity: 0.7;
}

.form__btn:active {
  -webkit-transform: translate(1px, 2px);
      -ms-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}

@media (max-width: 66.25em) {
  [class*=__container] {
    max-width: 60.625rem;
    padding: 0 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
    padding: 0 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 1.5rem;
  }
}

.webp .page{ background-image: url(./../img/bg-main.webp); }