$bgCardColor: #FFFFFF;
$bgCardHeader: #F0F1F2;
$bgCardBody: #F8F9FA;
$lineColor: #E5E5E8;
$btnActionColor: #e0e5ea;
$btnPrimaryColor: #045FCE;
$btnLabelColor: #B4D5EC;
$textLightColor: #A6A7A8;
$textVeryLightColor: #CDCDCD;
$textTitleColor: #80CB93;