.page {
   background-image: url("./../img/bg-main.jpg");
   padding-top: 30px;
}

.page__title {
   @include font(40px, 400, 140%);
}

.page__subtitle {
   @include font(20px, 700, 120%);
   margin-bottom: 50px;
}

.list__empty-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px 0 30px;
   background-color: $emptyBgColor;
 }

 .list__empty-title {
   @include font(28px, 400, 120%);
 }