.page {
   background-image: url("./../img/bg-main.jpg");
   padding-top: 80px;
}

.page__title {
   @include font(40px, 400, 140%);
   color: $btnPrimaryColor;
}

.page__subtitle {
   @include font(20px, 700, 120%);
   margin-bottom: 20px;
}

.page__card {
   background-color: $bgCardColor;
   border-radius: 4px;
}

.page__card--top {
   margin-bottom: 20px;
}

.none {
   display: none !important;
}

.list__empty-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   padding: 20px 0 20px;   
}

.list__empty-title {
   @include font(28px, 300, 120%);   
}

.list__group-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   border-top: 2px solid $lineColor;
   border-radius: 4px 4px 0 0;
}

.list__task-title {
   @include font(16px, 500, 120%);
}

.list__task-title--done {
   text-decoration: line-through;
   color: $textVeryLightColor;
}

.list__block-btn-action {
   display: flex;
   column-gap: 5px;
}

.list__btn-action {
   background-color: $btnActionColor;
   padding: 8px 10px;
   cursor: pointer;
   border: 0;
   border-radius: 4px;
   transition: opacity 0.2s ease-in;
   opacity: 0.5;

   display: flex;
   justify-content: center;
   align-items: center;
}

.list__btn-action:hover {
   opacity: 1;
}

.list__btn-action:active {
   transform: translate(1px, 2px);
}

.list__btn-action img {
   pointer-events: none;
}

.page__card-header {
   @include font(20px, 500, 120%);
   padding: 10px 20px;
   background-color: $bgCardHeader;
   border-radius: 4px 4px 0 0;
   border-bottom: 2px solid $lineColor;
}

.page__form {
   background-color: $bgCardBody;
   padding: 20px;
   border-radius: 0 0 4px 4px;
}

.form__input {
   width: 100%;
   padding: 8px 15px;
   margin-bottom: 5px;
}

.form__group {
   margin-bottom: 15px;
}

input {
   outline: none;
   border: 2px solid $lineColor;
   border-radius: 5px;
   @include font(16px, 500, 120%);
   transition: border-color 0.3s ease;
}

input::placeholder {
   color: $textLightColor;
   @include font(14px, 500, 120%);
}

input:focus {
   box-shadow: 0 0 5px 0 $textLightColor;
}

input:hover {
   border-color: $btnLabelColor;
}

// input:focus::placeholder {
//    color: transparent;
// }

.form__text {
   color: $textLightColor;
}

.form__btn {
   display: inline-block;
   padding: 10px 24px 7px;
   border-radius: 4px;
   background-color: $btnPrimaryColor;
   color: $btnLabelColor;
   @include font(14px, 500, 120%);
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: opacity 0.3s ease;

   &:hover {
      opacity: 0.7;
   }

   &:active {
      transform: translate(1px, 2px);
   }
}